@mixin responsive($breakpoint) {
  @if $breakpoint == tablet-portrait {
    @media (min-width: 48em) {
      @content;
    } // 768px
  }

  @if $breakpoint == desktop {
    @media (min-width: 70em) {
      @content;
    } // 1280px
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    } // 1800px
  }
}