.banner {
  @extend %full-bleed;

  height: calc(100vh - 56px);
  margin-top: -3rem;
  overflow: hidden;
  width: 100vw;

  @include responsive(desktop) {
    &__background,
    &__opacity {
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      width: 100vw;
    }

    &__opacity {
      background-color: rgba(25, 25, 25, 0.4);
    }

    &__background {
      z-index: 0;

      img {
        width: 100%;
      }
    }

    &__button {
      position: absolute;
      bottom: 15%;
      left: 10%;
      width: 250px;
    }
  }
}