.slide {
  position: relative;

  &__background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  &__button {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }

  &__countdown {
    position: absolute;
    top: 35%;
    width: 100%;
  }

  &__content-wrapper {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  &__celebrities-names-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2rem;
    position: absolute;
    top: 70%;
    width: 100%;
  }

  &__celebrity-name {
    background-color: $yellow;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 100%;

    &:first-child {
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
      text-align: left;
    }

    &:last-child {
      clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
      text-align: right;
    }
  }

  @include responsive(tablet-portrait) {
    &__button {
      width: 35%;
    }

    &__celebrity-name {
      width: 45%;

      &:last-child {
        margin-left: auto;
      }
    }
  }

  @include responsive(desktop) {
    &__button,
    &__countdown,
    &__celebrities-names-wrapper {
      left: 15%;
    }

    &__button {
      top: 20%;
      transform: translateX(0);
      width: 18%;
    }

    &__countdown {
      top: 55%;
      width: 50%;
    }

    &__celebrities-names-wrapper {
      padding: 0;
      top: 80%;
      width: 40%;
    }

    &__celebrity-name {
      width: 50%;
    }
  }
}

.banner-carousel {
  height: 90vh;
  margin-top: -3rem;
  overflow: hidden;
  position: relative;
  width: 100vw;
  z-index: 2;

  &__opacity {
    background-color: rgba($black, 0.3);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
  }

  &__slider {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
  }

  &__right-arrow,
  &__left-arrow {
    cursor: pointer;
    fill: $yellow;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3%;
    z-index: 2;
  }

  &__left-arrow {
    left: 5%;
  }

  &__right-arrow {
    right: 5%;
  }

  @include responsive(desktop) {



  }
}
