a.button,
.button {
  $self: &;

  align-items: center;
  background-color: $yellow;
  border: none;
  color: $black;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  height: 3rem;
  padding: 0 1rem;
  transition: all .3s ease-in;

  &.small {
    font-size: 1rem;
    height: 2.5rem;
  }

  &.medium {
    height: 2.5rem;
    font-size: 1.2rem;

    #{$self}__icon {
      margin-right: 1rem;
      width: 10%;
    }
  }

  &.large {
    height: 3.5rem;

    #{$self}__icon {
      margin-right: 1rem;
      height: 85%;
    }
  }

  &:disabled,
  &[disabled]{
    opacity: .5;
  }

  &.rounded {
    border-radius: 40px;
  }

  &__icon {
    margin-right: 1rem;
    width: 15%;
  }

  &:hover {
    background-color: $black;
    color: $white;
    border: 1px solid $white;

    #{$self}__icon {
      fill: $white;
    }
  }
}