.countdown {
  &__counter-wrapper,
  &__celebrities-names-wrapper {
    left: 10%;
  }

  &__counter-wrapper {
    background-color: rgba($black, 0.5);
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
  }

  &__counter-item {
    color: $white;
    text-align: center;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &__number {
      font-size: 3.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    &__title {
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  @include responsive(desktop) {
    &__counter-item {
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }
}
