.drawer {
  $drawer-width: 200px;

  background-color: rgb(21, 37, 37);
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX($drawer-width);
  transition: transform .4s ease;
  width: $drawer-width;
  z-index: 1;

  &--open {
    transform: translateX(0);

    // header.header & {
    //   background-color: red !important;
    // }

    // .base-layout & {
    //   transform: translateX(-$drawer-width);
    // }
  }

  &--open & {
    &__spacing {
      display: block;
      opacity: 1;
    }
  }

  &__spacing {
    display: none;
    height: 100%;
    left: calc(-100vw + 250px);
    opacity: 0;
    position: absolute;
    top: 0;
    width: calc(100vw - #{$drawer-width});
  }

  &__item {
    align-items: center;
    display: flex;
    text-transform: uppercase;
    height: 48px;
    padding: 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0,0,0,0.35);
    }
  }
}