.header {
  $header-height: 120px;

  padding: 0 calc((100vw - 1280px)/2);

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    width: 100%;
  }

  &__logo-wrapper {
    background-color: $black;
    border-bottom: 1px solid $yellow;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    z-index: 1;

    a {
      display: flex;
      justify-content: flex-start;
    }
  }

  &__logo {
    width: 35%;
  }

  &__hamburger-icon {
    fill: $yellow;
    width: 10%;
  }

  &__navs-wrapper {
    width: 100%;
  }

  &__secondary-nav {
    @extend %full-bleed;

    background-color: $black;
    color: $white;

    &__list,
    &__list-item {
      display: flex;
    }

    &__list-item {
      align-items: center;
      flex: 1 1 50%;
      justify-content: center;
      padding: 1rem;

      &:hover,
      &.active {
        background-color: $yellow;

        .header__secondary-nav {
          &__icon {
            fill: $black;
          }

          &__label {
            color: $black;
          }
        }
      }
    }

    &__icon {
      fill: $white;
      margin-right: .5rem;
      width: 10%;
    }

    &__label {
      text-transform: uppercase;
    }

    &__button-wrapper {
      display: flex;
      justify-content: center;
      padding: 1rem;
      width: 260px;
    }
  }

  &__nav {
    @extend %full-bleed;

    display: none;
    opacity: 0;
    visibility: hidden;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__item {
      align-items: center;
      color: $white;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-flow: column-reverse;
      transform: background-color .3s ease-in;

      &:not(:last-child) {
        border-bottom: 1px solid $dark-grey;
      }

      &.active {
        background-color: $dark-grey;
      }
    }
  }

  @include responsive(tablet-portrait) {
    &__hamburger-icon {
      width: 5%;
    }

    &__secondary-nav {
      &__icon {
        width: 5%;
      }
    }
  }

  @include responsive(desktop) {
    &__wrapper {
      flex-direction: row;
      height: 100%;
      justify-content: space-between;
    }

    &__logo-wrapper {
      background-color: transparent;
      border-bottom: none;
      display: block;
      height: 70%;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: initial;

      a {
        display: block;
        justify-content: flex-start;
      }
    }

    &__logo {
      width: 35%;
      height: 100%;
    }

    &__hamburger-icon {
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    &__secondary-nav {
      align-items: center;
      display: flex;
      height: 3.5rem;
      justify-content: space-between;
      padding: 0 calc((100vw - 1280px)/2);

      &__list,
      &__list-item {
        height: 100%;
      }

      &__list {
        margin: auto;
        width: 40%;
      }

      &__list-item {
        cursor: pointer;
        flex: initial;
        min-width: 11rem;
        transition: background-color .3s ease-in;
      }

      &__icon {
        width: 10%;
      }
    }

    &__nav {
      align-items: center;
      background-color: rgba(0, 0, 0, 0.44);
      display: flex;
      height: 3rem;
      justify-content: center;
      opacity: 1;
      padding: 0 calc((100vw - 1280px)/2);
      visibility: visible;
    }

    &__list {
      flex-direction: row;
      height: 100%;
      width: auto;

      &__item {
        align-items: center;
        color: $white;
        cursor: pointer;
        padding: 1rem .5rem;
        position: relative;
        min-width: 9rem;

        &:not(:last-child) {
          margin-right: 0rem;
          border-bottom: none;
        }

        &:hover {
          background-color: $dark-grey;
        }
      }
    }

    &__inner-list {
      background-color: $dark-grey;
      height: auto;

      opacity: 0;
      visibility: hidden;
      transform-origin: top;
      transform: scaleY(0);
      transition: opacity .2s ease-in, transform .3s ease-in, height .3s ease-in;

      position: absolute;
      right: 0%;
      top: 100%;
      width: 100%;
      z-index: 2;

      li.active & {
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
      }

      &__item {
        padding: 1rem;
        position: relative;

        &:not(:last-child) {
          border-bottom: none;
        }

        &:not(:first-child) {
          &::before {
            content: "";
            background-color: $white;
            height: 3px;
            left: 50%;
            position: absolute;
            top: 0;
            transform: translateX(-50%);
            width: calc(100% - 2rem);
          }
        }

        &:hover {
          background-color: $light-grey;
        }

      }
    }
  }
}
